<!DOCTYPE HTML>
<html>
    <head>
        <title> pwdKeep | Register </title>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='home.css') }}">
        <meta charset="UTF-8"/>
        <meta name="language" content="en" />
        <meta name="description" content="************INFORMATION HERE************"/>
        <meta name="keywords" content="************CONTENT HERE************"/>
        <meta name="author" content="Jeremiah Spears, Courtney Frazier"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <main>
            <div id="divForm">
                <form id="frmLogin" action="#" method="post">
                    <h4> Create an Account </h4>
                    <label for="username"> Create Username: </label>
                        <input type="text" id="username" name="username" /> <br/>
                    <label for="password"> Enter Password: </label>
                        <input type="password" id="password" name="password" /> <br/>
                    <label for="password2"> Re-Enter Password: </label>
                        <input type="password2" id="password2" name="password2" /> <br/>
                    <br/>
                    <!--<input type="submit" id="btnSubmit" value="Submit" class="formBtn">-->
                    <input type="submit" id="btnSignUp" value="Sign Up" class="formBtn">
                    {% if error %}
                        <p id="errMsg">{{error}}</p>
                    {% endif %}
                </form>
            </div>
        </main>
    </body>
</html>